.pocket-item {
    padding: 10px;
    border: 1px solid var(--gray-4);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(25% - 7.5px);
    height: 30vh;

    cursor: pointer;
    transition: all .2s;

    &__img {
        width: 100%;
        height: 70%;
        background-color: #ccc;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;

        &-name {
            font-weight: 700;
            font-size: 1.8rem;
        }

        &-addr {
            font-size: 1.2rem;
            color: #919191bd;
            font-weight: 500;
        }

        &-balance {
            span {
                font-weight: 700;
            }
        }
    }

    &:hover {
        opacity: .8;
        transition: all .2s;
    }

    &__detail {
        &-title {
            span {
                font-size: 1.4rem;
                color: #919191bd;
                font-weight: 500;
            }
        }

        &-btn-wrapper {
            button {
                width: calc(50% - var(--space-2));
                cursor: pointer;
            }
        }
    }
}