.transaction {
    &__date {
        font-weight: 700;
        padding: 10px 0;
        border-bottom: 1px solid var(--gray-a4);
        color: var(--gray-11);
    }
    &__item {
        border-bottom: 1px solid var(--gray-a4);

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 4px 0;

        p {
            font-weight: 500;
        }

        &-type{
            width: 100px;
        }

        &-time {
            color: var(--gray-a10);
        }

        &-value{
            width: 80px;
        }
        &-view {
            margin-right: 10px;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
    }
}