.transfer-tools {
    &__desc{
        margin-top: 20px;
        &-btn{
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: space-between;
            gap: 10px;
            button {
                width: calc(50% - 10px);
            }
        }
    }
}