.pockets{
    &__title{
        margin: 10px 0;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px;
        grid-column-gap: 10px;
        height: 77vh;
    }
    &__item{
        padding: 10px;
        border: 1px solid var(--gray-4);
    }
}