.header{
    box-shadow: 0 1px var(--gray-a4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100vw;
    img{
        width: 100%;
        height: 100%;
    }
    &__right{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}